nav
  .nav-sec-1
    a(href='/home') Logo
    a(href='/') Today
    a(href='/') Explore
  .nav-sec-2
    a(href='/home') PhotoMania
  .nav-sec-3
    a(href='/about') About
    a(href='/login') Login
    a(href='/signup') Signup
