
.section-menu
    .profile-section 
        user info
    .menu-button 
        a(href="/dashboard") Dashboard
    .menu-button 
        a(href="/dashboard/create-post") Create Post
    .menu-button 
        a(href="/dashboard/saved-photos") Favourites
    .menu-button 
        a(href="/logout") Logout