extends ../templates/layout

block main 
  main
    .about-sec
        h1  PhotoMania 
        h2  Social Media platform for everyone to upload photos which are then viewed by others and liked then the photo with with the most likes is selected as the photo of the day.