extends ../templates/layout

block main 
  main
    .about-container
      img(src='/image/aboutImage.png' alt='background image of people')
      .text-area.about-heading
        h1  About PhotoMania
      .text-area.about-text
        h2 Post Photos
        p
          | Share your best moments and creative shots with our community. Whether it&apos;s a candid moment, or a creative project, your photos can inspire and connect with others.
        h2 Create Brand
        p
          | Build your personal or business brand by consistently posting high-quality content. Engage with your audience, showcase your unique style, and establish a recognizable presence.
        h2 Gain Rewards
        p
          | Earn rewards for your contributions! From gaining followers and likes to receiving special badges and participating in exclusive events, your efforts will be recognized and rewarded.
        h2 Share
        p
          | Express yourself by sharing your thoughts, ideas, and experiences. Through photos, let your voice be heard and connect with others who share your interests.
