extends ../templates/layout

block main 
    main
        .category-body 
            h1.category-heading Daily Inspiration
        //- .category-section 
            //- .category-item-1 
            //-     img(src="/image/animalCategory.jpg")
            //-     .category-text-section
            //-         h3.category-title Animals 
            //-         h2.category-description Explore Animals
        .category-section 
            .grid-item
                img(src="/image/animalCategory.jpg", alt="Happy NYE wallpapers")
                .text-overlay
                    h4 Midnight glow
                    p Happy NYE wallpapers
            .grid-item
                img(src="/image/animalCategory.jpg", alt="Dreamy window views")
                .text-overlay
                    h4 Mindful musings
                    p Dreamy window views
            .grid-item
                img(src="/image/animalCategory.jpg", alt="Boxing Day breakfast ideas")
                .text-overlay
                    h4 Best of the brunch
                    p Boxing Day breakfast ideas
            .grid-item
                img(src="/image/animalCategory.jpg", alt="Leftovers recipes")
                .text-overlay
                    h4 Betwixmas bites
                    p Leftovers recipes you'll love

        