extends ../templates/layout
include ../components/mixins.pug

block main
  main
    section.main-section
      // Photo of the Day Section
      if photoOfTheDay
        .photo-of-the-day-container
          .photo
            img(
              src=photoOfTheDay.image_url ? "/" + photoOfTheDay.image_url : "/images/placeholder.png", 
              alt=photoOfTheDay.title || "Photo of the Day"
            )
          .details
            h4= photoOfTheDay.title || "No title"
            p.photo-description= photoOfTheDay.description || "No description available for this photo."
      else
        p No photo-of-the-day available. Check back tomorrow!

      // Gallery Section
      h3 Gallery
      if posts && posts.length
        .cards
          each post in posts
            +card({
              image_url: post.image_url, 
              title: post.title, 
              username: post.username, 
              profile_pic_url: post.profile_pic_url
            })
      else
        p No posts available. Upload some photos to get started!