extends ../templates/layout

block main 
  main
    h1 Posts
        if posts && posts.length
            .cards
                each post in posts
                    .card
                        img(src=post.imageurl, alt=post.title)
                        .content
                            h2= post.title
                            p= post.description
        else
            p No posts available