extends ../templates/layout
include ../components/mixins.pug


block main 
  main
    .main-section
        h3 All
        if posts && posts.length
            .cards
                each post in posts
                    +card({image_url: post.image_url, title: post.title, username: post.username})
        else
            p No posts available