extends ../templates/layout
include ../components/mixins.pug


block main 
  main
    .main-section
        h3 All
        if posts && posts.length
            .cards
                each post in posts
                    +card({postId: post.post_id, userId: post.user_id,image_url: post.imageURL, title: post.title, username: post.username, profile_pic_url: post.profile_pic_url, like_count: post.like_count, is_liked: post.is_liked, is_favourited: post.is_favourited})
        else
            p No posts available