
extends ../templates/layout

block main 
  main
      .container
        .backdrop
            .modal
                .modal-content
                    img.login-logo(src='/image/logo.png' alt='website logo')
                    h2 Login to See more
                    form(action='/auth/login', method='post')
                        .input-group
                            label(for='email') Email
                            input(type='email', id='email', name='email', required)
                        .input-group
                            label(for='password') Password
                            input(type='password', id='password', name='password', required)
                            button.submit-button(type='submit') Login
                    if error
                        p.error #{error}