extends ../templates/dashboard-layout

block main
  .main-dashboard
    include ../components/sidenav
    .section-main  
        .dashboard-modal
            .dashboard-modal-content
                h2 Create Post
                form(action='/dashboard/create-post', method='post' enctype='multipart/form-data')
                    .input-group
                      label(for='title') Title
                      input(type='text', id='title', name='title', required)
                    .input-group
                      label(for='location') Location
                      input(type='text', id='location', name='location', )
                    .input-group
                      label(for='description') Description
                      textarea(id='description', name='description', cols='53', rows='5') 
                    .input-group
                      .category-dropdown-main
                        .category-dropdown
                          label(for="dropdown") Choose an Category:
                          select#dropdown
                              if options && options.length
                                option(value="") Category List
                                each option in options
                                    option(value=option.category_name) #{option.category_name}
                        .category-input
                          label(for="inputField") Insert New Category
                          input#inputField(type="text", name='category', required)
                    .input-group
                      label(for='image') Image
                      input(type='file', id='image', name='image', accept='image/*', required)
                    button.submit-button(type='submit') Create Post
